<nav class="navbar navbar-expand navbar-dark bg-dark mb-0">
  <a href="/" class="navbar-brand">TP IGL</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item my-auto mr-3">
      <a class="text-light" href="#"
        ><i class="fa fa-bell" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href=""
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Se deconnecter</a>
      </div>
    </li>
  </ul>
</nav>
