<nav class="navbar navbar-expand navbar-dark bg-dark mb-0">
  <a href="/" class="navbar-brand">TP IGL</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item my-auto mr-3">
      <a class="text-light" href="javascript:void(0);"
        ><i class="fa fa-bell" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item ">
      <div class="dropdown">
        <button
          class="btn nav-link dropdown-toggle"
          role="button"
          id="navbarDropdown"
          data-toggle="dropdown"
        ></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Activités</a>
          <a class="dropdown-item" href="#">Reglages</a>
          <a class="dropdown-item" href="#">Se deconnecter</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
