<nav class="navbar navbar-expand mb-0" style="background-color: #17252A;">
  <a class="navbar-brand" href="#" style="margin-left: 30px;">
    <img src="../../../assets/logo-white.png" alt="ESI Schooling" />
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item my-auto mr-3">
      <a class="text-light" href="javascript:void(0);"
        ><i class="fa fa-bell" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <div class="material-icons">
        <img src="../../../assets/user_avatar.png" height="34px" width="34px" />
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href=""
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="color: white;"
      >
        {{ currentUserName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Paramètres</a>
        <a class="dropdown-item" href="#">Aide</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Se deconnecter</a>
      </div>
    </li>
  </ul>
</nav>
