.full {
  height: 100vh;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-areas:
    "sidebar" "content"
    "footer footer footer";
}
.sidebar {
  grid-area: "sidebar";
  font-size: 12px;
}

.list-group > * {
  background-color: transparent;
  color: white;
}
