<app-navbar></app-navbar>
<div class="full">
  <div class="sidebar ">
    <div class="my-auto">
      <ul class="list-group ">
        <li class="list-group-item">
          <a>Afficher emploi du temps</a>
        </li>
        <li class="list-group-item">
          <a>Afficher Les groupes enseignés</a>
        </li>
        <li class="list-group-item">
          <a>Afficher les moyennes</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content d-flex align-content-center">
    <div class="d-flex flex-row cntn container my-auto col-11">
      <div class="card text-center shadow col-3 p-3  rounded">
        <div class="card-body">
          <svg
            class="d-flex material-icons mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>

          <p class="card-text">Afficher emploi du temps</p>
          <a href="#" class="btn btn-primary">Afficher</a>
        </div>
      </div>

      <div class="card text-center shadow col-3 p-3 rounded">
        <div class="card-body">
          <svg
            class="d-flex material-icons mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>
          <p class="card-text">
            Afficher Les groupes enseignés.
          </p>
          <a href="#" class="btn btn-primary">Afficher</a>
        </div>
      </div>

      <div class="card text-center shadow col-3 p-3   rounded">
        <div class="card-body">
          <svg
            class="material-icons"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>
          <p class="card-text">
            Afficher les moyennes
          </p>
          <a href="#" class="btn btn-primary">Afficher</a>
        </div>
      </div>
    </div>
  </div>
</div>
