<div class="h-100 d-flex flex-column">
  <app-navbar></app-navbar>
  <div
    class="d-flex align-items-center my-auto"
    style="flex-shrink: 1fr; background-color: #3AAFA9;"
  >
    <div class="d-flex flex-row col-10 cntn mx-auto">
      <div
        class="card text-center shadow p-3  bg-white rounded"
        style="width: 18rem; background-color: #2B7A78; border-color: #17252A;"
      >
        <div class="card-body">
          <svg
            class="d-flex material-icons mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>

          <p class="card-text">Consulter la moyenne d'un module donné.</p>
          <a href="#" class="btn btn-primary">Consulter</a>
        </div>
      </div>

      <div
        class="card text-center shadow p-3  bg-white rounded"
        style="width: 18rem; background-color: #2B7A78; border-color: #17252A;"
      >
        <div class="card-body">
          <svg
            class="d-flex material-icons mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>
          <p class="card-text">Afficher l'emploi du temps de votre groupe.</p>
          <a href="#" class="btn btn-primary">Afficher</a>
        </div>
      </div>

      <div
        class="card text-center shadow p-3  bg-white rounded"
        style="width: 18rem; background-color: #2B7A78; border-color: #17252A;"
      >
        <div class="card-body">
          <svg
            class="material-icons"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
            />
          </svg>
          <p class="card-text">
            Donner un feedback à un module spécifique.
          </p>
          <a [routerLink]="'ajout-feedback'" class="btn btn-primary"
            >Donner un feedback</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
