<div class="bg d-flex h-100" style="background-color: #3AAFA9">
  <div
    class="container col-xs-12 col-md-4 login  card my-auto shadow"
    style="background-color: #2B7A78;"
  >
    <form
      #userForm="ngForm"
      class="card-body "
      (submit)="authentification(userForm)"
    >
      <div>
        <div class="form-check form-check-inline">
          <input
            (change)="radiochange($event)"
            type="radio"
            name="accountType"
            value="student"
            id="student"
            class="form-check-input"
          />
          <label for="student">Etudiant</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            (change)="radiochange($event)"
            type="radio"
            value="teacher"
            name="accountType"
            id="teacher"
            class="form-check-input"
          />
          <label for="student">Enseignant</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            (change)="radiochange($event)"
            type="radio"
            value="admin"
            name="accountType"
            id="admin"
            class="form-check-input"
          />
          <label for="student">Administrateur</label>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          #email="ngModel"
          [(ngModel)]="user.email"
          class="form-control"
          type="text"
          name="email"
          id="email"
          required
          [ngClass]="{ 'is-invalid': email.errors && email.touched }"
        />
        <div [hidden]="email?.errors?.required" class="invalid-feedback">
          Ce champ est obligatoire
        </div>
      </div>
      <div class="form-group mb-0">
        <label for="pasword">Mot de passe</label>
        <input
          #password="ngModel"
          [(ngModel)]="user.password"
          class="form-control"
          type="password"
          name="password"
          id="password"
          required
        />
      </div>
      <a href="#" class="d-block mb-3" style="color: white;"
        >Mot de passe oublié ?</a
      >
      <input
        type="submit"
        value="Connexion"
        class="btn btn-block btn-primary"
        style="color: #ffffff; background-color: #17252A;"
      />
    </form>
  </div>
</div>
