<div class="h-100 d-flex flex-column">
  <app-navbar></app-navbar>
  <div class="d-flex full my-auto" style="background-color: #3AAFA9;">
    <div class="sidebar" style="background-color: #17252A;">
      <div class="my-auto">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="d-flex" style="padding: 10px;">
              <div class="material-icons">
                <img src="../../../assets/dashboard.png" />
              </div>
              <p style="margin-left: 10px;">Tableau de bord</p>
            </a>
          </li>
          <li class="list-group-item">
            <a class="d-flex" style="padding: 10px;">
              <div class="material-icons">
                <img src="../../../assets/account.png" />
              </div>
              <p style="margin-left: 10px;">Mon profil</p>
            </a>
          </li>
          <li class="list-group-item">
            <a class="d-flex" style="padding: 10px;">
              <div class="material-icons">
                <img src="../../../assets/messagerie.png" />
              </div>
              <p style="margin-left: 10px;">Messagerie</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-row col-10 cntn mx-auto">
      <div class="d-flex flex-row cntn container my-auto col-11">
        <div
          class="card text-center shadow col-3 p-3  rounded"
          style="background-color: #2B7A78; border-color: #17252A;"
        >
          <div class="card-body">
            <svg
              class="d-flex material-icons mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
              />
            </svg>

            <p class="card-text">Ajouter un compte enseignant.</p>
            <a href="#" class="btn btn-primary">Ajouter</a>
          </div>
        </div>

        <div
          class="card text-center shadow col-3 p-3 rounded"
          style="background-color: #2B7A78; border-color: #17252A;"
        >
          <div class="card-body">
            <svg
              class="d-flex material-icons mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
              />
            </svg>
            <p class="card-text">
              Ajouter un compte étudiant.
            </p>
            <a href="#" class="btn btn-primary">Ajouter</a>
          </div>
        </div>

        <div
          class="card text-center shadow col-3 p-3   rounded"
          style="background-color: #2B7A78; border-color: #17252A;"
        >
          <div class="card-body">
            <svg
              class="material-icons"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
              />
            </svg>
            <p class="card-text">
              Créer des emplois du temps.
            </p>
            <a href="#" class="btn btn-primary">Créer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
